version: '3'

services:

  ## Seria uno por cada microservicios
  postgres:
    container_name: postgres_db_1
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - microservices-net
    restart: unless-stopped

networks:
    microservices-net:
        driver: bridge

volumes:
  postgres: