version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres_microservicios
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - micro_net

volumes:
  postgres_data:

networks:
  micro_net:
    driver: bridge
